.friendMessage {
    text-align: right;
    margin-right: 50px;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 70px;
    background-color: #EEDDFF;
    border: 1px solid #9185a1;
    border-radius: 100px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

    background-color: #dbe0e7;
    margin-right: 20px ;
    width: 246px;
    height: 43px;
    line-height: 43px;
    color: #2d2d2d;
    text-align: right;
    border-radius: 10px;
    font-family: sans-serif;

}

.friendTime {

}
